nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 1rem auto;
  font-family: 'Poppins', sans-serif;

  .logo {
    font-size: 3.5rem;
    font-weight: 900;
    font-family: 'Staatliches', cursive;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #222222;
  }
}

.nav-list {
  & a {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color);
    position: relative;
  }

  & a:nth-child(2) {
    margin: 0 1.5rem 0 3rem;
  }

  & a:nth-child(3) {
    margin: 0 3rem 0 1.5rem;
  }

  & a:after {
    content: '';
    position: absolute;
    background-color: #222222;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -7px;
    transition: 0.3s;
  }

  & a:hover {
    color: #000000;
  }

  & a:hover:after {
    width: 100%;
  }
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & a:hover:after {
    width: 100%;
  }
}

.open-menu,
.close-menu {
  position: absolute;
  color: var(--color);
  cursor: pointer;
  display: none;
}

.open-menu {
  font-size: 2rem;
  top: 7%;
  right: 10px;
  transform: translateY(-50%);
}

.close-menu {
  font-size: 1.5rem;
  top: 10px;
  right: 10px;
}

.icon-user {
  font-size: 1.2rem;
}

.login {
  margin-left: 6rem;
  & a {
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 1rem;
    color: var(--color);
  }
}

#check {
  display: none;
}

@media (max-width: 768px) {
  .main-nav {
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 30%;
    height: 25vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: var(--white);
    transition: all 0.2s ease-in-out;

    .nav-list {
      display: flex;
      flex-direction: column;
      & a {
        font-size: 1.1rem;
        margin-bottom: 1rem;
      }

      & a:nth-child(2) {
        margin: 0 0 1rem 0;
      }

      & a:nth-child(3) {
        margin: 0 0 1rem 0;
      }
    }
  }

  .open-menu,
  .close-menu {
    display: block;
  }

  #check:checked ~ .main-nav {
    right: 0;
  }

  .login {
    margin: 1rem 3rem 0 0;
  }
}

@media (max-width: 1200px) {
  .navbar {
    padding: 0 20px;
  }

  .nav-list {
    & a:nth-child(2) {
      margin: 0 1.3rem 0 2rem;
    }

    & a:nth-child(3) {
      margin: 0 2rem 0 1.3rem;
    }
  }

  .login {
    margin-left: 3rem;
  }
}

// @media (max-width: 1024px) {
//   .hamburger {
//     display: block;
//   }

//   .hamburger.active .bar:nth-child(2) {
//     opacity: 0;
//   }
//   .hamburger.active .bar:nth-child(1) {
//     // transform: translateY(8px) rotate(45deg);
//     opacity: 0;
//   }
//   .hamburger.active .bar:nth-child(3) {
//     // transform: translateY(-8px) rotate(-45deg);
//     opacity: 0;
//   }

//   .main-nav {
//     position: fixed;
//     left: -100%;
//     top: 70px;
//     gap: 0;
//     flex-direction: column;
//     background-color: #b8b8b8;
//     width: 100%;
//     text-align: center;
//     transition: 0.3s;

//     & a {
//       margin: 1rem 0;
//     }
//   }

//   .main-nav.active {
//     left: 0;
//   }
// }

// ATTEMPT 1
// .hamburger {
//   position: relative;
//   display: block;
//   width: 2rem;
//   cursor: pointer;

//   appearance: none;
//   background: none;
//   outline: none;
//   border: none;
// }

// .hamburger .bar,
// .hamburger:after,
// .hamburger:before {
//   content: '';
//   display: block;
//   width: 100%;
//   height: 5px;
//   background-color: red;
//   margin: 6px 0;
//   transition: 0.4s;
// }

// .hamburger.is-active:before {
//   transform: rotate(-45deg) translate(-8px, -6px);
// }

// .hamburger.is-active:after {
//   transform: rotate(43deg) translate(-20px, -9px);
// }

// .hamburger.is-active .bar {
//   opacity: 0;
// }
